<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label>Login</label>
    <input type="text" [required]="true" formControlName="login">
  </div>

  <div>
    <label>Password</label>
    <input type="password" [required]="true" formControlName="password">
  </div>

  <button type="submit" [disabled]="!loginForm.valid">LogIn</button>

  <p>
    Is form valid ? {{ loginForm.valid }}
  </p>
  <p>
    Login: {{ loginForm.value.login }}
  </p>
  <p>
    Password: {{ loginForm.value.password }}
  </p>

</form>
